.loader {
  border: 8px solid rgba(0, 0, 0, 0.25);
  border-top: 8px solid var(--secondary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 350px) {
  .sm-text-size {
    font-size: 12px;
  }
}
