.custom-header {
  height: 55vh !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/image-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #070308;
}

.text-yellow {
  color: var(--primary) !important;
}

.custom-header h1 {
  font-size: 4rem;
}

.success {
  font-weight: 500;
  color: #0ecb81;
}

.danger {
  font-weight: 500;
  color: #ff0000;
}

.carousel {
  cursor: pointer;
}

.carousel:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.25);
  border-top: 8px solid var(--primary);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 480px) {
  .custom-header h1 {
    font-size: 3rem;
  }
}
